{% extends 'inventario/base.html' %}
{% load static %}

{% block title %} Productos {% endblock%}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'inventario/styles/alta_producto.css' %}">

{% endblock %}

{% block content %}

<h1>Ingreso de Productos</h1>
<form method="POST" action="">
    {% csrf_token %}
    {{alta_producto_form.as_p}}
    <button type="submit" class="btn btn-primary">Agregar Producto</button>
    <a href="{% url 'listado_productos' %}" class="btn btn-secondary">Cancelar</a>

</form>

{% endblock %}