{% extends 'inventario/base.html' %}
{% load static %}

{% block title %} Alta Sucursales {% endblock%}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'inventario/styles/alta_producto.css' %}">

{% endblock %}

{% block content %}

<h1>AGREGAR SUCURSAL</h1>
<form method="POST" action="" class="needs-validation" novalidate>
    {% csrf_token %}
    {{sucursal_form.as_p}}
    <button type="submit" class="btn btn-dark">Agregar Sucursal</button>
    <a href="{% url 'listado_sucursales' %}" class="btn btn-secondary">Cancelar</a>

</form>

{% endblock %}