{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'inventario/styles/base.css' %}">
   
    {% block extra_css %}{% endblock %}

</head>

<nav>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if messages.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
   <!--  <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'alta_producto' %}">Agregar producto</a></li>
        <li><a href="#">Modificar producto</a></li>
        <li><a href="#">Eliminar producto</a></li>

    </ul> -->
</nav>

<body>

    <header>
        <nav>
            <div class="header-content">
                <h1>StockLite</h1>
            </div>
                
        </nav>
    </header>

    <div class="sidebar">
        <h2>Logo</h2>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'alta_producto' %}">Productos</a></li>
            <li><a href="{% url 'alta_pedido' %}">Sucursales</a></li> 
            <li><a href="{% url 'pedidos_cliente' %}">Pedidos</a></li>
        </ul>
    </div>

    <main>

        <div class="welcome-section">

            {% block content %}
    
            {% endblock %}
    
        </div>
        
    </main>

    

    <footer>
        <div class="footer-bottom">
            <p>&copy; Stocklite | 2024. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>

</html>