<!-- prettier-ignore -->
{% extends 'inventario/base.html' %}
{% load static %}

{% block title %}Borrar Producto{% endblock %}

{% block extra_css %}
<link
  rel="stylesheet"
  href="{% static 'inventario/styles/delete.css' %}"
/>
{% endblock %}

{% block content %}
<div class="container mt-5 alert">
  <h1>Confirmar Eliminación</h1>
  <p>¿Estás seguro de que quieres eliminar "{{ object.nombre }}"?</p>
  <form method="post">
    {% csrf_token %}
    <input type="submit" value="Confirmar" class="btn btn-danger" />
    <a href="{% url 'listado_productos' %}" class="btn btn-secondary"
      >Cancelar</a
    >
  </form>
</div>
{% endblock %}
