{% extends 'inventario/base.html' %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'inventario/styles/index.css' %}">

{% endblock %}

{% block content %}



<div class="image-container">
    <div>
        <h1>Bienvenido a StockLite</h1>
        <p>Tu solución confiable para la gestión de inventarios.</p>
        <p>Con StockLite, podrás:</p>
        <ul>
            <li>Monitorear tus niveles de stock en tiempo real.</li>
            <li>Optimizar el control de inventarios para reducir costos.</li>
            <li>Generar informes detallados sobre tus productos y movimientos.</li>
            <li>Facilitar la transferencia de productos entre sucursales.</li>
            <li>Automatizar la reposición de stock para evitar rupturas.</li>
        </ul>
        <p>Comienza a usar StockLite hoy mismo y transforma la manera en que manejas tu inventario.</p>
        <a href="{% url 'pedidos_cliente' %}" class="btn btn-primary">Realizar un Pedido</a>
    </div>
</div>



{% endblock%}