/* alta_producto.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  max-width: 700px;
  margin: 0 auto;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form p {
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

a:hover {
  background-color: transparent;
}

td > div > a {
  display: flex;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
}

.action-cell {
  position: relative;
  border: none;
  width: 0px;
  padding: 0;
}

.action-buttons {
  height: 40px;
  position: absolute;
  visibility: hidden;
  padding: 0 20px;
  opacity: 0;
  top: 0;
  transform: translateX(-100%);
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #eee; /* fondo de lapiz y tachito*/
  z-index: 3;
}

tr:hover .action-buttons {
  visibility: visible;
  opacity: 1;
}

input[type="submit"]:hover {
  background-color: #218838;
}
.material-symbols-outlined {
  color: #3378ff; /*#000;*/
}

.addbox {
  font-size: 60px !important;
}
.addbox:hover {
  color: #f01725;
}

.addbox-link ,.edit-link
,.delete-link{
  position: relative;
  text-decoration: none;
}

.addbox-link:hover .add-info > p , .edit-link:hover .edit-info > p ,.delete-link:hover .delete-info > p {
  display: block;
  opacity: 1;
}

.add-info > p ,.edit-info > p ,.delete-info > p {
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  top: 40px;/*distancia de cartelito*/
  padding: 5px 10px;
  border-radius: 5px;
}

.edit:hover {
  color: #e7190b;
}

.delete:hover {
  color: #cc0000;
}

.table-responsive {
  padding: 0 3rem 3rem 0;
}